<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>O Nas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <section class="about-us">
            <h1>O Nas</h1>

            <p>Jesteśmy zespołem pasjonatów technologii, którzy połączyli swoje siły, aby stworzyć platformę umożliwiającą każdemu łatwe skonfigurowanie wymarzonego komputera. Dzięki naszym narzędziom, wybór idealnych komponentów stał się prostszy niż kiedykolwiek.</p>

            <div class="about-section">
                <h2>Nasza Misja</h2>
                <p>Naszą misją jest zapewnienie każdemu dostępu do zaawansowanego narzędzia, które ułatwia konfigurację komputerów, niezależnie od doświadczenia użytkownika. Wierzymy, że każdy powinien mieć możliwość stworzenia komputera, który spełnia jego potrzeby, zarówno w zakresie wydajności, jak i budżetu.</p>
            </div>

            <div class="about-section">
                <h2>Nasza Wizja</h2>
                <p>Chcemy oferować nie tylko intuicyjne narzędzia, ale także pomocne porady, recenzje i rekomendacje, które pomagają użytkownikom podejmować świadome decyzje zakupowe.</p>
            </div>

            <div class="about-section">
                <h2>Nasza Historia</h2>
                <p>Zespół "BUILDUCPU" powstała w 2023 roku z pasji do technologii komputerowych. Od samego początku skupialiśmy się na dostarczaniu narzędzi, które pomogą każdemu – od amatorów po profesjonalistów – skonfigurować komputer, który idealnie odpowiada jego potrzebom.</p>
            </div>

            <div class="about-section">
                <h2>Nasz Zespół</h2>
                <p>Nasz zespół to grupa uzdolnionych studentów z róznych dziedzin. Każdy członek posiada szeroką wiedzę na temat sprzętu komputerowego, dzięki czemu jesteśmy w stanie tworzyć narzędzia, które ułatwiają proces konfiguracji i zapewniają użytkownikom najlepsze doświadczenia.</p>
                <div class="team">
                    <div class="team-member">
                        <img src="https://via.placeholder.com/150" alt="Członek zespołu 1">
                        <h3>Grzegorz Niedbalski</h3>
                       
                    </div>
                    <div class="team-member">
                        <img src="https://via.placeholder.com/150" alt="Członek zespołu 2">
                        <h3>Filip Nowicki</h3>
                        
                    </div>
                    <div class="team-member">
                        <img src="https://via.placeholder.com/150" alt="Członek zespołu 3">
                        <h3>Adam Ostajewski</h3>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>

