@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Składanie Komputera</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            position: relative;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .background-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }


        .header {
            text-align: center;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.8);
        }

            .header h1 {
                margin: 10px;
                font-size: 2em;
            }

            .header p {
                margin: 5px 0 20px;
                font-size: 1.2em;
                color: #f76c00;
            }

        .start-button {
            text-align: center;
            margin: 20px 0;
        }

            .start-button button {
                background-color: rgba(0, 86, 179, 1);
                color: white;
                padding: 15px 30px;
                font-size: 1em;
                border: none;
                cursor: pointer;
                border-radius: 5px;
			}

                .start-button button:hover {
                    background-color: rgba(0, 86, 179, 1);
                }

        .subheader {
            text-align: center;
            margin-top: 225px;
        }

            .subheader h2 {
                font-size: 1.5em;
                color: #333;
            }

        .features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
            margin-top: -20px; /* Możesz dostosować ten margines */
        }

        .feature {
            background-color: rgba(0, 86, 179, 1);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 5px; /* Zmniejszenie paddingu */
            margin: 10px;
            flex: 1 1 150px; /* Zmniejszenie flex-basis */
            max-width: 300px; /* Zmniejszenie max-width */
            text-align: center;
            color: white;
        }

            .feature h3 {
                color: white;
            }

            .feature p {
                font-size: 0.9em;
                line-height: 1.4em;
            }

            .feature button {
                background-color: #f76c00;
                color: white;
                padding: 10px 20px;
                font-size: 1em;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                margin-top: 10px;
            }

                .feature button:hover {
                    background-color: #c05800;
                }

    </style>
</head>
<body>
    <img src="../Views/Home/1.png" alt="Background" class="background-img">
    <div class="header">
        <h1>Znajdź idealne podzespoły dla swojego komputera</h1>
        <p>Szybko i łatwo skonfiguruj swój wymarzony zestaw</p>
    </div>
    <div class="start-button">
        <button>Rozpocznij teraz</button>
    </div>
    <div class="subheader">
        <h2>Skorzystaj z innych naszych funkcji</h2>
    </div>
    <div class="features">
        <div class="feature">
            <h3>Lista Podzespołów:</h3>
            <p>Funkcja umożliwia użytkownikom przeglądanie różnych komponentów komputerowych, takich jak procesory, RAM, karty graficzne, itp. w celu łatwego dodania elementów do zestawu komputerowego.</p>
            <button>Sprawdź</button>
        </div>
        <div class="feature">
            <h3>Sprawdzanie Kompatybilności:</h3>
            <p>Narzędzie automatycznie weryfikuje, czy wybrane podzespoły są ze sobą kompatybilne, co zmniejsza ryzyko zakupu niekompatybilnych części.</p>
            <button>Sprawdź</button>
        </div>
        <div class="feature">
            <h3>Porównywanie:</h3>
            <p>Funkcja porównywania pozwala użytkownikom zestawić ze sobą różne podzespoły, aby lepiej zrozumieć różnice i podjąć świadomą decyzję na podstawie szczegółowych danych.</p>
            <button>Sprawdź</button>
        </div>
        <div class="feature">
            <h3>Gotowe zestawy:</h3>
            <p>Użytkownicy mogą sprawdzać gotowe zestawy komputerowe, które zostały wcześniej zweryfikowane i są dostępne dla różnych typów użytkowników.</p>
            <button>Sprawdź</button>
        </div>
    </div>
</body>
</html>