<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Polityka Prywatności</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="privacy-policy">
            <h1>Polityka Prywatności</h1>
            <p>Szanujemy Twoją prywatność i zobowiązujemy się chronić Twoje dane osobowe. W niniejszej polityce prywatności wyjaśniamy, w jaki sposób zbieramy, przetwarzamy i chronimy Twoje dane, korzystając z naszej strony internetowej.</p>

            <h2>1. Jakie dane zbieramy?</h2>
            <p>Zbieramy dane, które nam przekazujesz, takie jak:</p>
            <ul>
                <li>Imię i nazwisko</li>
                <li>Adres e-mail</li>
                <li>Numer telefonu</li>
                <li>Adres IP</li>
            </ul>
            <p>Ponadto, w wyniku korzystania ze strony, mogą być zbierane dane dotyczące Twojej aktywności online, takie jak pliki cookie i dane geolokalizacyjne.</p>

            <h2>2. Jak wykorzystujemy Twoje dane?</h2>
            <p>Twoje dane wykorzystywane są do:</p>
            <ul>
                <li>Świadczenia usług dostępnych na naszej stronie.</li>
                <li>Udzielania odpowiedzi na zapytania.</li>
                <li>Personalizacji treści, ofert oraz reklam.</li>
                <li>Analizowania i poprawiania działania strony internetowej.</li>
            </ul>

            <h2>3. Udostępnianie danych</h2>
            <p>Nie sprzedajemy Twoich danych osobowych osobom trzecim. Możemy je udostępniać zaufanym partnerom, takim jak:</p>
            <ul>
                <li>Przetwarzanie płatności</li>
                <li>Usługi hostingowe</li>
                <li>Narzędzia analityczne (np. Google Analytics)</li>
            </ul>

            <h2>4. Pliki cookie</h2>
            <p>Strona wykorzystuje pliki cookie w celu zapewnienia prawidłowego funkcjonowania oraz dostosowania treści do Twoich preferencji. Możesz zarządzać ustawieniami cookie w swojej przeglądarki internetowej.</p>

            <h2>5. Jak chronimy Twoje dane?</h2>
            <p>Stosujemy odpowiednie środki techniczne i organizacyjne w celu ochrony Twoich danych osobowych przed nieautoryzowanym dostępem, zmianą lub usunięciem.</p>

            <h2>6. Twoje prawa</h2>
            <p>Masz prawo do:</p>
            <ul>
                <li>Dostępu do swoich danych osobowych.</li>
                <li>Poprawiania, usuwania lub ograniczania przetwarzania swoich danych.</li>
                <li>Wniesienia sprzeciwu wobec przetwarzania danych.</li>
                <li>Przenoszenia danych do innych usługodawców.</li>
            </ul>

            <h2>7. Zmiany w polityce prywatności</h2>
            <p>Wszelkie zmiany w polityce prywatności będą publikowane na tej stronie.</p>

            <h2>8. Kontakt</h2>
            <p>Jeśli masz jakiekolwiek pytania dotyczące naszej polityki prywatności, skontaktuj się z nami za pomoca strony kontaktowej: <a href="Contact">Kontakt</a></p>
        </section>
        <br />
        <p>&copy; 2024 BUILDUCPU - Wszystkie prawa zastrzeżone</p>
    </main>

</body>
</html>

