<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regulamin Strony</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main>
        <section class="regulamin">
            <h1>Regulamin strony BUILDUCPU</h1>

            <h2>1. Postanowienia Ogólne</h2>
            <p>Witamy na stronie "BUILDUCPU". Niniejszy regulamin określa zasady korzystania z naszego konfiguratora komputerowego dostępnego na stronie internetowej. Korzystanie z usług konfiguratora oznacza akceptację poniższych warunków.</p>

            <h2>2. Usługi</h2>
            <p>Nasza strona oferuje usługę konfiguracji komputerów na zamówienie. Użytkownicy mogą wybierać komponenty komputerowe, takie jak procesory, płyty główne, karty graficzne i inne, aby stworzyć komputer zgodnie ze swoimi preferencjami. Konfigurator nie dokonuje sprzedaży produktów – jest to narzędzie, które pomaga zaplanować zakup sprzętu.</p>

            <h2>3. Rejestracja</h2>
            <p>Rejestracja na stronie nie jest wymagana, jednak użytkownicy, którzy chcą zapisać swoje konfiguracje, mogą stworzyć konto. Podczas rejestracji użytkownik zobowiązany jest podać prawdziwe dane osobowe.</p>

            <h2>4. Odpowiedzialność Użytkownika</h2>
            <p>Użytkownik ponosi odpowiedzialność za dokonane konfiguracje i wybór komponentów. Zawartość konfiguratora jest jedynie narzędziem pomocniczym. Zalecamy, aby przed finalizacją zakupu skonsultować się z fachowcem lub sprawdzić kompatybilność wybranych podzespołów.</p>

            <h2>5. Płatności</h2>
            <p>Nasza strona nie przetwarza płatności. Konfigurator ma na celu jedynie pokazanie możliwych konfiguracji komputerów. Płatność za komponenty odbywa się bezpośrednio u sprzedawcy sprzętu, z którym współpracujemy.</p>

            <h2>6. Ochrona Danych Osobowych</h2>
            <p>Wszystkie dane osobowe użytkowników zbierane przez naszą stronę są przetwarzane zgodnie z naszą <a href="PrivacyPolicy">Polityką Prywatności</a>. Dbamy o bezpieczeństwo danych osobowych naszych użytkowników i stosujemy odpowiednie środki ochrony danych.</p>

            <h2>7. Prawa Autorskie</h2>
            <p>Wszystkie materiały znajdujące się na stronie, w tym grafiki, teksty, oprogramowanie i inne elementy są chronione prawem autorskim. Zabrania się kopiowania, modyfikowania lub rozpowszechniania zawartości strony bez naszej zgody.</p>

            <h2>8. Zmiany w Regulaminie</h2>
            <p>Zastrzegamy sobie prawo do wprowadzania zmian w regulaminie. O wszelkich zmianach użytkownicy będą informowani za pośrednictwem strony internetowej. Zmiany wchodzą w życie z chwilą ich opublikowania na stronie.</p>

            <h2>9. Kontakt</h2>
            <p>Jeśli masz jakiekolwiek pytania dotyczące naszej polityki prywatności, skontaktuj się z nami za pomoca strony kontaktowej: <a href="Contact">Kontakt</a></p>
        </section>
        <br />
        <p>&copy; 2024 BUILDUCPU - Wszystkie prawa zastrzeżone</p>
    </main>

</body>
</html>
